<h4>Factura: #{{ticket.id}}</h4>
<div *ngIf="ticket.cliente_id">
  <h5>{{cliente(ticket.cliente_id).nombre_fiscal}} </h5>
  <h5>NIF: {{cliente(ticket.cliente_id).nif}}</h5>
  <h5>Dirección: </h5>
  <p>{{cliente(ticket.cliente_id).direccion}}</p>
</div>
<table>
  <thead>
    <tr>
      <th># </th>
      <th>Artículo</th>
      <th>Base Imp.</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let linea of itemsActivos()">
      <td>{{linea.cantidad}} x </td>
      <td>{{linea.descripcion}}</td>
      <td>{{linea.baseImponible|number:'1.2-2'}}</td>
      <td>{{linea.precioud*linea.cantidad|number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr *ngFor="let impuesto of impuestos">
      <th colspan="2" class="alignRight">{{impuesto.nombre}}</th>
      <td>{{baseImponible(impuesto)|number:'1.2-2'}}</td>
      <td>{{total(impuesto)|number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr>
      <th colspan="3" class="alignRight">Total: </th>
      <td>{{totalCompleto()}}</td>
    </tr>
    <tr *ngFor="let cobro of ticket.cobros">
      <th colspan="2">{{formacobro(cobro.forma_pago_id).nombre}}:</th>
      <td colspan="2" class="alignRight">{{cobro.cantidad}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="3">Atendido por: </td>
      <td>{{usuarioActivo().nombre}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr>
      <th colspan="4" class="alignCenter">Gracias por su visita</th>
    </tr>
  </tbody>
</table>
