div.base {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}

app-selector-articulos {
  width: 100%;
  height: 95%;
}


app-visor-ticket {
  height: 100%;
  width: 100%;
}

div.visor::-webkit-scrollbar {
  width: 0px;
  position: sticky;
  border-radius: 10px;
}

div.visor::-webkit-scrollbar-track {
  background: #2c2c2c;
}

div.visor::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #393939;
}

div.visor::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

@media screen and (min-width: 800px) {
  div.base {
    justify-items: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
  }

  app-selector-articulos {
    width: 40%;
  }

  app-visor-ticket {
    width: 30em;
  }

}
