<div class="">
  <div matTooltip="Sin conexión con el servidor" matTooltipPosition="below" matTooltipHideDelay="100"
    title="Sin conexión con el servidor" class="alignedEnd backErrored floatingEnd" *ngIf="errorDeConexion()">
    <mat-icon>cloud_off</mat-icon>
  </div>
  <div matTooltip="Datos actualizados" matTooltipPosition="below" matTooltipHideDelay="100" title="Datos actualizados"
    class="alignedEnd backOk floatingEnd centered" *ngIf="!errorDeConexion() && synced()">
    <mat-icon>cloud</mat-icon>
  </div>
  <div matTooltip="Actualizando datos" matTooltipPosition="below" matTooltipHideDelay="100" title="Actualizando datos"
    class="alignedEnd backOk floatingEnd centered" *ngIf="!errorDeConexion() && !synced()">
    <mat-icon class="rotating">sync</mat-icon>
  </div>
  <mat-spinner *ngIf="!errorDeConexion() && !synced()" class="flotandoCentro" color="accent" diameter="29">
  </mat-spinner>

  <div class="contenedor">

    <div class="floatingCentro">
      <div class="aligned">
        <mat-icon>watch_later</mat-icon><strong> {{getRealTime().toLocaleTimeString()}}
        </strong>
      </div>
      <div class="aligned omitible">
        <mat-icon>calendar_today</mat-icon><strong> {{getRealTime().toLocaleDateString()}}
        </strong>
      </div>
      <div class="aligned omitible" *ngIf="getCentroActivo().nombre">
        <mat-icon>business</mat-icon><strong> {{getCentroActivo().nombre}}
        </strong>
      </div>
      <div class="aligned" *ngIf="getUsuarioActivo().nombre && isLoaded()">
        <mat-icon>person</mat-icon><strong> {{getUsuarioActivo().nombre}}
        </strong>
      </div>
    </div>
    <div class="backWarn" *ngIf="getUsuarioActivo().nombre && isLoaded() && !enTicket()">
      <button mat-icon-button (click)="logoutUser()" matTooltip="Salir" matTooltipPosition="below"
        matTooltipHideDelay="100" title="Salir">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <div class="backPrimary" *ngIf="getUsuarioActivo().nombre && !enTicket()  && isLoaded()">
      <button mat-icon-button (click)="nuevoTicket()" matTooltip="Nuevo ticket" matTooltipPosition="below"
        matTooltipHideDelay="100" title="Nuevo ticket">
        <mat-icon>note_add</mat-icon>
      </button>
    </div>
    <div class="backPrimary" *ngIf="getUsuarioActivo().nombre && enTicket()  && isLoaded()">
      <button mat-icon-button (click)="uploadTicket()" matTooltip="Guardar ticket" matTooltipPosition="below"
        matTooltipHideDelay="100" title="Guardar ticket">
        <mat-icon>file_upload</mat-icon>
      </button>
    </div>
    <div class="backWarn" *ngIf="getUsuarioActivo().nombre && enTicket()  && isLoaded()">
      <button mat-icon-button (click)="discardTicket()" matTooltip="Descartar ticket" matTooltipPosition="below"
        matTooltipHideDelay="100" title="Descartar ticket">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
