mat-form-field {
  width: 100%;
}

.esPassword {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
