<h1 mat-dialog-title>Se requiere autenticación</h1>
<div mat-dialog-content>
  <p>Debe introducir la clave del usuario para continuar</p>
  <mat-form-field appearance="outline">
    <mat-label>Clave</mat-label>
    <input matInput class="esPassword" cdkFocusInitial required [(ngModel)]="perfil.clave" type="number"
      inputmode="numeric">
    <mat-icon matPrefix>key</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="perfil">Continuar</button>
</div>
