button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 2px #000000AA;
  transition: all 0.05s ease-in-out;
}

mat-tab {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

strong {
  text-transform: uppercase;
  font-size: 1.2em;
  overflow-wrap: break-word;
  color: gray;
  mix-blend-mode: difference;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}



button:active {
  transform: scale(.90);
  border-radius: 10px;
  border: solid 2px #000000AA;
  transition: all 0.05s ease-in-out;
}
